 @model IEnumerable<AdminLayout.Areas.Admin.Models.ProductModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutXuli.cshtml";
}

<h2>Index</h2>
<p>
    <a onclick="showInPopUp('@Url.Action("Create","Product",null,Context.Request.Scheme)','Create')">Create</a>
</p>
@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <p>
        Tên sản phẩm: @Html.TextBox("searchString")
        Loại: @Html.DropDownList("Category", "All")
        Nhà sản xuất: @Html.DropDownList("Supplier", "All")
        <input type="submit" value="Tìm kiếm" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 50px;">
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Img)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="modal" tabindex="-1" role="dialog" id="form-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
@*@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                method: "GET",
                url: "../api/GetAPI/GetProduct",

                success: function (list) {
                    listJSON = JSON.parse(list);

                    var data = '';
                    $.each(listJSON, function (key, value) {
                        data += '<tr class="result">';
                        data += '<td>' + value.Name + '</td>';
                        data += '<td>' + value.Price + '</td>';
                        data += '<td>' + value.Content + '</td>';
                        data += '<td>' + value.Status + '</td>';
                        data += '<td>' + value.Quantity + '</td>';
                        data += '<td>' + value.Img + '</td>';
                        data += '<td>' + value.namecategory + '</td>';
                        data += '<td>' + value.namesuplier + '</td>';
                        data += '</tr>';

                    });
                    $('#list-ddt').append(data);
                }

            });

        });

    </script>
}*@


