  <!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Images</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Manipulation</th>
                                <th>Manipulation</th>
                            </tr>
                        </thead>
                        @{ decimal grandtotal = 0;}
                            @{ int stt = 0;
                                if(ViewBag.carts!=null)
                                {
                                foreach (var item in ViewBag.carts)
                                {
                                    string txt_class = "quantity_" + item.Product.ProductID;
                                    stt++;
                                    decimal total = item.Product.Price * item.Quantity;
                                    grandtotal += total;
                                    <tr>
                                        <td class="thumbnail-img">
                                            <a href="#">
                                                <img class="img-fluid" src="~/pro/@item.Product.Img" alt="" />
                                            </a>
                                        </td>
                                        <td class="name-pr">
                                            <a href="#">
                                                @item.Product.Name
                                            </a>
                                        </td>
                                        <td class="price-pr">
                                            <p>@item.Product.Price</p>
                                        </td>
                                        <td class="quantity-box"><input type="number" class="@txt_class" size="4" value="@item.Quantity" min="0" step="1" class="c-input-text qty text"></td>
                                        <td class="total-pr">
                                            <p>@total</p>
                                        </td>
                                        <td><a href="" data-id="@item.Product.ProductID" class="updateCart">Update</a></td>
                                        <td><a asp-controller="Cart" asp-action="deleteCart" asp-route-id="@item.Product.ProductID">Delete</a></td>
                                    </tr>
                                    }
                                }//if
                            else
                                    {
                                <tr>
                                    <td><h1>Giỏ hàng trống</h1></td>                                  
                                </tr>                                     
                                    }
                                }                            
                         </tbody>
                    </table>
                </div>
            </div>
        </div>

        @*<div class="row my-5">
            <div class="col-lg-6 col-sm-6">
                <div class="coupon-box">
                    <div class="input-group input-group-sm">
                        <input class="form-control" placeholder="Enter your coupon code" aria-label="Coupon code" type="text">
                        <div class="input-group-append">
                            <button class="btn btn-theme" type="button">Apply Coupon</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="update-box">
                    <input value="Update Cart" type="submit">
                </div>
            </div>
        </div>*@

        <div class="row my-5">
            <div class="col-lg-8 col-sm-12"></div>
            <div class="col-lg-4 col-sm-12">
                <div class="order-box">
                    <h3>Order summary</h3>
                    <div class="d-flex">
                        <h4>Sub Total</h4>
                        <div class="ml-auto font-weight-bold">@{@grandtotal} </div>
                    </div>
                    @*<div class="d-flex">
                        <h4>Discount</h4>
                        <div class="ml-auto font-weight-bold"> $ 40 </div>
                    </div>*@
                    <hr class="my-1">
                    @*<div class="d-flex">
                        <h4>Coupon Discount</h4>
                        <div class="ml-auto font-weight-bold"> $ 10 </div>
                    </div>*@
                    @*<div class="d-flex">
                        <h4>Tax</h4>
                        <div class="ml-auto font-weight-bold"> $ 2 </div>
                    </div>*@
                    <div class="d-flex">
                        <h4>Shipping Cost</h4>
                        <div class="ml-auto font-weight-bold"> Free </div>
                    </div>
                    <hr>
                    <div class="d-flex gr-total">
                        <h5>Grand Total</h5>
                        <div class="ml-auto h5">@{@grandtotal} </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-12 d-flex shopping-box"><a href="checkout.html" class="ml-auto btn hvr-hover">Checkout</a> </div>
        </div>

    </div>
</div>
<!-- End Cart -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    $(document).ready(function () {
        $(".updateCart").click(function (event) {
            event.preventDefault();
            var quantity = $(".quantity_" + $(this).attr("data-id")).val();
            console.log(quantity);
            $.ajax({
                type: "POST",
                url:"@Url.Action("updateCart","Cart")",
                data: {
                    id: $(this).attr("data-id"),
                    quantity:quantity
                },
                success: function (result) {
                    window.location.href = '@Url.Action("Index","Cart")';
                }
            });
        });
    });
    </script>

}
